<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    			layout:decorate="~{site/dashboardLayoutHome.html}">
 <head>

 </head>
 <body >
     <div  layout:fragment="content" >
		<div class="row">
			<div class="col-5 detail-img">
				<img th:src="${'/admin/products/images/' + detail.image}" alt="" width="300" height="330">
			</div>
			<div class="col-7">
				<ul class="detail-info">
		
					<!-- <li th:text="${'productId: ' + detail.productId}"></li> -->
					<li th:text="${'Tên sản phẩm: ' + detail.name}"></li>
					<li th:text="${'Giá: ' + detail.unitPrice + 'ngàn VNĐ'}"></li>
					<li th:text="${'Ngày nhập: ' + detail.enteredDate}"></li>
					<!-- <li th:text="${detail.categoryName"></li> -->
					<li th:text="${'Số lượng: ' + detail.quantity}"></li>
					<li  th:text="${'Giảm giá: ' + detail.discount + ' %'}"></li>
					<li th:text="${detail.viewCount == null ? 'Lượt xem : 0' : 'Lượt xem: + detail.viewCount'}"></li>
					<!-- <li th:text="${'Tình trạng: ' + detail.status}"></li> -->
					<li th:text="${detail.available ? 'Còn hàng' : 'Hết hàng'}"></li>
				   
				</ul>
			</div>
		</div>
		<div class="row mt-2"  th:text="${detail.description}" >
			 
		</div>
        <div class="row mt-2" >
			<h3>Hàng cùng loại:</h3>
			<div th:each="prod : ${list}" class="m-2" style="box-shadow: 0px 0px 2px blue; border-radius: 5px;">
				<a th:href="@{'/site/customers/detail/' +  ${prod.productId} }">
					<img 
						th:src="${'/admin/products/images/' + prod.image }"
						width="70px" class="img-fluid" alt="" >
				</a>
			</div>
		</div>
 	</div>
	 
 </body>