<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>

</head>

<body>
  <aside th:fragment="footer">

    <div class="card mt-2">
      <div class="card-header">Tìm kiếm</div>
      <div class="card-body">
        <form action="" th:action="@{/}">
          <input type="text" class="form-control" placeholder="Tìm kiếm" name="name">
        </form>
      </div>
    </div>

    <div class="card mt-2">
      <div class="card-header"><i class="fas fa-list"></i> DANH MỤC</div>

      <ul class="list-group" th:each="cate : ${categories}">
        <a class="list-group-item" th:href="@{'/by-category/' + ${cate.categoryId}}"
          th:text="${cate.name}">category</a>

      </ul>
    </div>

    <div class="card mt-2">
      <div class="card">
        <div class="card-header">
          <i class="fas fa-th-list"></i>
         HÀNG ĐẶC BIỆT
        </div>
        <ul class="list-group">
          <a class="list-group-item " th:href="@{/list-by-enteredDate}"> Hàng mới</a>
          <a class="list-group-item " th:href="@{/list-by-viewCount}"> Xem nhiều</a>
          <a class="list-group-item " th:href="@{/list-by-}"> Bán chạy</a>
          <a class="list-group-item " th:href="@{/list-by-discount}"> Giảm giá</a>
         
        </ul>
      </div>

    </div>


  </aside>
</body>

</html>