<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    			layout:decorate="~{site/dashboardLayoutHome.html}">
 <head>

 </head>
 <body >
     <div  layout:fragment="content" >
		<div class="row">
			<div class="col-5 detail-img">
				<img th:src="${'/admin/products/images/' + detail.image}" alt="" width="300" height="330">
			</div>
			<div class="col-7">
				<ul class="detail-info">
		
					<!-- <li th:text="${'productId: ' + detail.productId}"></li> -->
					<li >Tên sản phẩm: <span  class="badge badge-secondary" th:text="${detail.name}"></span></li>
					<li >Giá: <span class="badge badge-info" th:text="${detail.unitPrice}"></span>VNĐ</li>
					<li th:text="${'Ngày nhập: ' + detail.enteredDate}"></li>
					<!-- <li th:text="${detail.categoryName"></li> -->
					<li >Số lượng: <span th:text="${detail.quantity}"></span></li>
					<li >Giảm giá: <span class="badge badge-pill badge-warning" th:text="${detail.discount}"></span>%</li>
					<li >Lượt xem: <span th:text="${detail.viewCount}"></span></li>
					<li th:text="${detail.available ? 'Còn hàng' : 'Hết hàng'}"></li>
				   <li><a class="btn btn-danger" th:onclick="'alert(\'Đã thêm vào giỏ hàng  sản phẩm\');'"
					th:href="@{'/cart/add/' + ${detail.productId}}">
					<i class="fas fa-cart-plus"></i>Thêm vào giỏ hàng</a></li>
				</ul>
			</div>
		</div>
		<div class="row mt-2"  th:text="${detail.description}" >
			 
		</div>
        
		<div class="row mt-2" >
			<h3>Hàng cùng loại:</h3>
			<div th:each="prod : ${list}" class="m-2" style="box-shadow: 0px 0px 2px blue; border-radius: 5px;">
				<a th:href="@{'/detail/' +  ${prod.productId} }">
					<img 
						th:src="${'/admin/products/images/' + prod.image }"
						width="70px" class="img-fluid" alt="" >
				</a>
			</div>
		</div>

		<div class="row mt-2" >
			<h3>Hàng yêu thích:</h3>
			<div th:each="prod1 : ${prods}" class="m-2" style="box-shadow: 0px 0px 2px blue; border-radius: 5px;">
				<a th:href="@{'/detail/' +  ${prod1.productId} }">
					<img 
						th:src="${'/admin/products/images/' + prod1.image }"
						width="70px" class="img-fluid" alt="" >
				</a>
			</div>
		</div>

		
 	</div>
	 
 </body>
 </html>