<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{admin/dashboardLayout.html}">
<head>
</head>
<body>
  <section class="row" layout:fragment="content">
    <div class="col mt-4">
      <form  th:action="@{/admin/products/saveOrUpdate}" method="post" enctype="multipart/form-data" th:object="${product}">
        <div class="card">
          <div class="card-header">
            <h2 th:text="${product.isEdit ? 'Edit Product' : 'Add New Product'}">Add New Product </h2>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-8">
                <input type="hidden" th:field="*{isEdit}">
                <input type="hidden" th:field="*{productId}">
                <div class="form-group" th:if="${isEdit}" >
                  <label for="productId">Product ID:</label>
                  <input type="text" class="form-control" th:field="*{productId}" id="productId"
                     placeholder="Product ID" readonly>
                 
                </div>
                <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text" class="form-control" th:field="*{name}" id="name" 
                    placeholder="Name">
                  <small class="form-text text-muted" th:if="${#fields.hasErrors('name')}" th:errors = *{name}></small>
                </div>
                <div class="form-group">
                  <label for="quantity">Quantity</label>
                  <input type="number" class="form-control" th:field="*{quantity}" id="quantity"
                    placeholder="Quantity">
                    <small class="form-text text-muted" th:if="${#fields.hasErrors('quantity')}" th:errors = *{quantity}></small>
                </div>
                <div class="input-group form-group">
                  <span class="input-group-text">Unit Price</span>
                  <input type="number" th:field="*{unitPrice}" id="unitPrice" class="form-control" placeholder="Unit Price">
                  <small class="form-text text-muted" th:if="${#fields.hasErrors('unitPrice')}" th:errors = *{unitPrice}></small>
                </div>
                <div class="form-group">
                  <label for="categoryId">Category</label>
                  <select class="form-control" name="categoryId" id="categoryId"
                  th:field="*{categoryId}">
                    <option th:each="item : ${categories}" th:value="${item.categoryId}"
                     th:text="${item.name}" th:selected="${item.categoryId == product.categoryId}">Category Name</option>
                   
                  </select>
                </div>
                <div class="form-group">
                  <label for="enteredDate">Create Date</label>
                  <input type="datetime" class="form-control" th:field="*{enteredDate}" id="enteredDate" 
                    placeholder="enteredDate">
                 
                </div>
                <div class="form-group">
                  <label for="my-input">View Count</label>
                  <input id="my-input"  th:field="*{viewCount}" class="form-control" type="number" name="">
                </div>
              </div>
              <div class="col-4">
                
                <div>
                  <img id="image"
                   th:src="${'/admin/products/images/' + product.image}" width="100%"
                    class="img-fluid"
                    alt="">
                </div>

                <div class="form-group mt-4">
                  <label for="productImage">Image File</label>
                  <input type="hidden" th:field="*{image}" >
                  <input type="file" onchange="chooseFile(this)" class="form-control-file" th:object="${imageFile}"  name="imageFile" id="productImage"
                    placeholder="Product Image">
                 
                </div>
                <div class="input-group form-group">
                  <span class="input-group-text">Discount</span>
                  <input type="number" th:field="*{discount}" id="discount" class="form-control" placeholder="Discount">
                  <span class="input-group-text">%</span>
                 
                </div>
                
               
                <div class="form-check form-check-inline">
                  <label class="form-check-label">Available: 
                    <input class="form-check-input"  th:field="*{available}" type="radio" name="" id="" value="true" checked> Yes
                    <input class="form-check-input"  th:field="*{available}" type="radio" name="" id="" value="false"> No
                  </label>
                </div>
                
                
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="description">Description</label>
                  <textarea class="form-control" name="description" th:field="*{description}" id="description" rows="5"></textarea>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer text-muted">
            <a th:href="@{/admin/products/add}" class="btn btn-success">New</a>
            <button class="btn btn-primary" th:text="${product.isEdit ? 'Update' : 'Save'}" >Save</button>
            <a th:if="${product.isEdit}" th:href="@{'/admin/products/delete/' + ${product.productId}}" class="btn btn-danger float-right">Delete</a>
          </div>
          <script>
            function chooseFile(fileInput){
              if(fileInput.files && fileInput.files[0] ){
                var reader = new FileReader();

                reader.onload = function(e){
                  $('#image').attr('src', e.target.result);
                }
                reader.readAsDataURL(fileInput.files[0]);
              }
            }
          </script>
      </form>
    </div>
  </section>
</body>

</html>