<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    			layout:decorate="~{site/dashboardLayoutHome.html}">
 <head>

 </head>
<body>
    
        <div class="col-8 offset-2 mt-4" layout:fragment="content">

            <form  th:action="@{/account/save}" method="post" th:object="${customer}">

                <div class="card">
                    <div class="card-header">
                        <h2 >Register</h2>
                    </div>
                    <div th:if="${message != null}" class="alert alert-primary" role="alert">
                        <i th:text="${message}">message</i>
                    </div>
                    <div class="card-body">

                        <div class="form-group" th:if="${customer.isEdit}" >
                            
                            <label for="customerId">Customer ID:</label>
                            <input type="text" th:field="*{customerId}" id="customerId" class="form-control"
                                placeholder="Customer ID" aria-describedby="customerHid" readonly>
                            <small id="customerHid" class="text-muted">Customer id is required</small>
                        </div>
                        <div class="form-group">
                            <input type="hidden" th:field="*{isEdit}">
                            <label for="name">Name</label>
                            <input type="text" th:field="*{name}" id="name" class="form-control" placeholder="Name"
                                aria-describedby="nameHid">
                            <small id="nameHid" class="text-muted">Name is required</small>
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text" th:field="*{email}" id="email" class="form-control" placeholder="Email"
                                aria-describedby="emailHid">
                            <small id="emailHid" class="text-muted">Email is required</small>
                        </div>


                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" th:field="*{password}" id="password" class="form-control"
                                placeholder="Password" aria-describedby="passwordHid">
                            <small id="passwordHid" class="text-muted">Password is required</small>
                        </div>
                        <div class="form-group">
                            <label for="phone">Phone</label>
                            <input type="text" th:field="*{phone}" id="phone" class="form-control" placeholder="Phone"
                                aria-describedby="phoneHid">
                            <small id="phoneHid" class="text-muted">Phone is required</small>
                        </div>
                     


                    </div>
                    <div class="card-footer text-muted">
                        <button type="reset" class="btn btn-secondary">Reset</button>
                       
                        <button class="btn btn-primary" th:text="${customer.isEdit ? 'Update' : 'Save'}"><i class="fas fa-save"></i> Save </button>
                    </div>
                </div>

            </form>
        </div>
   
    
</body>

</html>