<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{site/dashboardLayoutHome.html}">

<head>

</head>

<body>

  <section class="row" layout:fragment="content">
    <div class="col-8 offset-2 mt-4">
      <form th:action="@{/account/login}" method="post" th:object="${account}">

        <div class="card">
          <div class="card-header">
            <h2>Login</h2>
          </div>
          <div th:if="${message != null}" class="alert alert-primary" role="alert">
            <i th:text="${message}">message</i>
          </div>
          <div class="card-body">

            <div class="form-group">
              <label for="name">Username</label>
              <input type="text" th:field="*{name}" id="name" class="form-control" placeholder="Username"
                aria-describedby="usernameId">
                <small class="form-text text-muted" th:if="${#fields.hasErrors('name')}" th:errors = *{name}></small>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="text" th:field="*{password}" id="password" class="form-control" placeholder="Password"
                aria-describedby="passwordId">
                <small class="form-text text-muted" th:if="${#fields.hasErrors('password')}" th:errors = *{password}></small>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" th:field="*{rememberMe}" id="">
                Remember Me
              </label>
            </div>

          </div>
          <div class="card-footer text-muted">
            <button type="reset" class="btn btn-secondary">Reset</button>


            <button class="btn btn-primary"><i class="fas fa-sign-in-alt mr-1"></i>Login</button>
          </div>
        </div>

      </form>
    </div>
  </section>


</body>

</html>