<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    			layout:decorate="~{site/dashboardLayoutHome.html}">
    <head>

    </head>
    <body >
        <div class="row" layout:fragment="content">
        <h2>this is about us</h2>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum dolorum, sequi commodi inventore facilis dolores nobis omnis velit voluptas quas ipsam, doloribus eos error, doloremque voluptatum quod deserunt magnam illum.
    </div>
    </body>