<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{site/dashboardLayoutHome.html}">
    <head>

    </head>
    <body>
        <div class="row" layout:fragment="content">
        <h2>this is contact us</h2>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab, iusto?
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam, ullam? Hic quis voluptate deleniti suscipit quos deserunt ipsam fuga, exercitationem, placeat quod voluptatibus accusantium accusamus obcaecati, ducimus reiciendis totam vitae?
    </div>
    </body>