<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{site/dashboardLayoutHome.html}">
    <head>

    </head>
    <body>
        <div class="row" layout:fragment="content">
            <h2>this is FAQs</h2>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab, iusto?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate at doloremque laboriosam temporibus dolorum animi, quod veniam quas rem labore delectus! Totam dolores dignissimos unde excepturi asperiores, aperiam necessitatibus ratione?
        </div>
    </body>