<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{site/dashboardLayoutHome.html}">
    <head>

    </head>
    <body>
        <div class="row" layout:fragment="content">
            <h2>this is feedback</h2>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab, iusto?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique obcaecati aut perferendis esse eos unde, doloremque sit autem quidem veniam iste reprehenderit facere odio quisquam, natus voluptatibus nisi, consequuntur minima?
            
        </div>
    </body>