<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{site/dashboardLayoutHome.html}">

<head>
</head>

<body>
    <section class="row" layout:fragment="content">
        <div class="col mt-4">
            <div class="card">
                <div class="card-body"  >
                  <ul class="list-group">
                    <li class="list-group-item ">Order Id: <span th:text="${order.orderId}"></span></li>
                    <li class="list-group-item">Customer Name: <span th:text="${order.customer.name}"></span></li>
                    <li class="list-group-item ">Order Date: <span th:text="${order.orderDate}"></span></li>
                    <li class="list-group-item ">Phone: <span th:text="${order.phone}"></span></li>
                    <li class="list-group-item ">Address: <span th:text="${order.address}"></span></li>
                    <li class="list-group-item ">Totals Amount: <span th:text="${order.amount}"></span></li>
                    <li class="list-group-item ">Note: <span th:text="${order.description}"></span></li>
                  </ul>
                </div>
                <div class="card-header">
                    <h2>Order Detail</h2>
                </div>
                <div class="card-body">
                    <table class="table table-striped table-inverse ">
                    <thead class="thead-inverse">
                        <tr>
                           
                            <th>Id</th>
                            <th>Product Name</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>Discount</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="item, iStart : ${details}">
                            
                            <td th:text="${item.orderDetailId}"></td>       
                            <td th:text="${item.product.name}"></td>                        
                             <td th:text="${item.quantity}"></td>
                            <td th:text="${item.unitPrice}">50.3</td>
                            <td ><span th:text="${item.discount}"></span>%</td>
                            
                            <td>
                                
                        </tr>
                    </tbody>
                    <a th:href="@{/order/list}" class="btn btn-info"><i class="fa fa-backward" aria-hidden="true"> Back</i></a>
                    </table>

                </div>

            </div>
        </div>
    </section>

</body>

</html>